.vscode
venv
build
.DS_Store
*.swp
*~ 
.pytest_cache
PrivateRules.mak
charts/ska-tango-images/charts/*
charts/tango-base/charts/*
charts/ska-tango-base/charts/*
charts/ska-tango-umbrella/charts
tests/tango_values.yaml
manifests.yaml
MANIFEST.skao.int
charts/ska-tango-base/MANIFEST.skao.int
charts/ska-tango-util/MANIFEST.skao.int
tests/requirements.txt
Chart.lock
