.vscode
venv
build
.DS_Store
*.swp
*~ 
.pytest_cache
PrivateRules.mak
charts/ska-tango-images/charts/*
charts/tango-base/charts/*
charts/ska-tango-base/charts/*
charts/ska-tango-umbrella/charts
charts/ska-tango-umbrella/Chart.lock
